<div class="navbar">
  <div class="row">
    <div class="col-9 name-container">
      <span
        class="name"
        (mouseenter)="nameMouseEnter()"
        (mouseleave)="nameMouseLeave()"
      >
        SHARATH
      </span>
      <span
        class="name name-hide-slow"
        [ngClass]="{ 'name-show': showFullName === true }"
      >
        CHANDRA</span
      >
      <span
        class="name name-hide"
        [ngClass]="{ 'name-show-slow': showFullName === true }"
      >
        NIRMALA</span
      >
    </div>
    <div class="col-3 header header-buttons-div">
      <div class="header-buttons">
        <label class="header-button" (click)="homeButton()">HOME</label>
        <label class="header-button" (click)="projectsButton()">WORK</label>
        <label class="header-button" (click)="contactButton()">CONTACT</label>
      </div>
    </div>
  </div>
</div>
