<div class="outer-container">
  <div class="row">
    <div class="col-div col-8">
      <div class="main-text fade-in-left">
        Hello, I'm Sharath, a passionate
        <strong class="bold">software developer</strong>
        hailing from the vibrant city of
        <strong class="bold">Hyderabad, India</strong>. I am driven by my love
        for
        <strong class="bold"> coding, technology, and finance, </strong>
        and I'm excited to share my journey and insights with you.
      </div>
    </div>
    <div class="col-div col-4 img-div">
      <img
        src="assets/images/profile_photo.jpg"
        alt="Profile Photo"
        class="profile-photo fade-in-right"
      />
    </div>
  </div>
</div>
