.container-mod {
  flex-direction: column;
  padding: 0rem 1.5rem;
}

.main-heading {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: bolder;
  letter-spacing: 4px;
  text-align: left;
}

.experience {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  transition: background-color 0.25s;
  cursor: pointer;
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgba($color: #add8e6, $alpha: 0.25);
  }
}

.exp-body {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.exp-heading {
  display: block;
  height: 2rem;
}

.exp-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  float: left;
}

.exp-datetime {
  font-size: 1.25rem;
  font-weight: lighter;
  float: right;
}

.exp-location {
  font-size: 1.25rem;
  font-weight: lighter;
  font-style: italic;
  float: right;
}

.exp-description {
  margin-top: 0.25rem;
  font-weight: lighter;
  text-align: justify;
  float: left;
}

.exp-skills {
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
}

.exp-picture {
  width: 17.5%;
}

.exp-image {
  width: 10.5rem;
  height: 10.5rem;
  object-fit: cover;
  border-radius: 1rem;
  float: right;
}

.no-pad {
  padding: 0;
}

#separator {
  font-size: 1.25rem;
  font-weight: lighter;
  float: right;
  padding: 0rem 0.5rem;
}

.skill-image {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.65rem 0.5rem;
  border-radius: 0.5rem;
}
