@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
}

.outer-container {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
